<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E-Learning WebApp!</title>
</head>
<body>
    {% if top_list %}
        <h2>List of Topics</h2>
        <ol>
            {% for topics in top_list %}
                <li><a href="{% url 'myapp:detail' topics.id %}">{{ topics.name }}</a></li>
            {% endfor %}
        </ol>
        <h2>List of Courses</h2>
        <ol>
            {% for course in top_course %}
                <li>{{ course.name }}</li>
            {% endfor %}
        </ol>
    {% else %}
        <strong>There are no available topics!</strong>
    {% endif %}

<!--<p><a href="/eLearnApp/about">About page</a></p>-->
<p><a href="{% url 'myapp:about' %}">About page</a></p>

</body>
</html>